modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["gir-rs", "psmisc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "app.py"
mode = "sequential"
author = 51216040

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 8080

[userenv]

[userenv.shared]
DATABASE_URL_STRING = "mysql+pymysql://SnzNKrqHQh5pseQ.root:vlyz3qPPrBu9gYdd@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/test"
