modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["gir-rs"]

[workflows]

[[workflows.workflow]]
name = "app.py"
mode = "sequential"
author = 51216040

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
DATABASE_URL_STRING = "mysql+pymysql://2G57bbn4J9q1ruD.root:fAzz6Q2HvFbz0guU@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/test"
