modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "app.py"
mode = "sequential"
author = 51216040

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[[ports]]
localPort = 5000
externalPort = 80
