.desktop-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.desktop-thq-desktop-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-background-background1);
}

.desktop-thq-navigation-elm {
  gap: 24px;
  width: 250px;
  height: 300px;
  display: flex;
  padding: 0 0 30px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-background-background1);
}

.desktop-thq-logo-elm {
  gap: 10px;
  display: flex;
  padding: 30px 20px 30px 32px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 0 0 1px;
  flex-direction: column;
  justify-content: center;
}

.desktop-thq-contents-elm {
  gap: 10px;
  display: flex;
  padding: 0 20px 30px 32px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 0 0 1px;
  flex-direction: column;
}

.desktop-thq-link-elm1 {
  display: flex;
  align-items: flex-start;
}

.desktop-thq-text-elm10 {
  color: var(--dl-color-text-paragraph1);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}

.desktop-thq-text-elm11 {
  color: var(--dl-color-text-paragraph2);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}

.desktop-thq-link-elm2 {
  display: flex;
  align-items: flex-start;
}

.desktop-thq-text-elm12 {
  color: var(--dl-color-text-paragraph1);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}

.desktop-thq-text-elm13 {
  color: var(--dl-color-text-paragraph2);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}

.desktop-thq-link-elm3 {
  display: flex;
  align-items: flex-start;
}

.desktop-thq-text-elm14 {
  color: var(--dl-color-text-paragraph1);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}

.desktop-thq-text-elm15 {
  color: var(--dl-color-text-paragraph2);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}

.desktop-thq-contactus-elm {
  gap: 50px;
  display: flex;
  padding: 0 20px 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.desktop-thq-text-elm16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.desktop-thq-text-elm17 {
  color: var(--dl-color-text-paragraph2);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}

.desktop-thq-main-elm1 {
  width: 1030px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.desktop-thq-hero-elm {
  width: 100vw;
  height: 636px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.desktop-thq-main-elm2 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.desktop-thq-introsection-elm {
  gap: 30px;
  display: flex;
  padding: 32px 32px 120px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}

.desktop-thq-content-elm {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.desktop-thq-text-elm18 {
  color: var(--dl-color-text-paragraph1);
  width: 419px;
  height: auto;
  text-align: left;
  line-height: 110.00000238418579%;
}

.desktop-thq-text-elm19 {
  color: var(--dl-color-text-paragraph2);
  width: 515px;
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}

.desktop-thq-strategysection-elm {
  gap: 30px;
  width: 1030px;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px 0 0 1px;
  flex-direction: column;
}

.desktop-thq-header-elm1 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.desktop-thq-title-elm1 {
  gap: 4px;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.desktop-thq-text-elm23 {
  color: rgba(243, 95, 0, 1);
  width: 372px;
  height: auto;
  text-align: left;
  line-height: 110.00000238418579%;
}

.desktop-thq-text-elm24 {
  color: black;
}

.desktop-thq-colorsection-elm {
  gap: 30px;
  width: 1030px;
  height: 128px;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px 0 0 1px;
  flex-direction: column;
}

.desktop-thq-header-elm2 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.desktop-thq-title-elm2 {
  gap: 4px;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.desktop-thq-text-elm26 {
  color: rgba(243, 95, 0, 1);
  height: auto;
  text-align: left;
  line-height: 110.00000238418579%;
}

.desktop-thq-text-elm27 {
  color: black;
}

.desktop-thq-number-elm {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}

.accomodation-card-section {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 20px;
  justify-content: space-around;
  padding: 32px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* card styling */ 
.container {
  color: rgb(255, 255, 255);
  position: relative;
  font-family: sans-serif;
}

/* .container::before {
  content: "";
  background-color: rgb(44, 44, 44);
  border: white 2px solid;
  filter: blur(5px);
  position: absolute;
  z-index: 10;
}

.container::before {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  top: 80%;
  left: 68%;
} */

.container .box {
  /* clip-path: path("M 0%,0% L 100%,0% L 100%,60% A 90%,70% L 70%,70% A 60%,80% L 60%,90% A 50%,100% L 0%,100% L 0%,0% Z"); */
  width: 14rem;
  height: 18rem;
  padding: 1rem;
  background: linear-gradient(180deg, rgb(93, 142, 188) 0%, rgb(46, 88, 125) 100%);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .box .title {
  font-size: 2rem;
  font-weight: 500;
  /* letter-spacing: 0.1em; */
}

.container .box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.container .box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px rgb(127, 127, 127);
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: rgba(30, 61, 89, 1);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em rgba(30, 61, 89, 1);
  overflow: hidden;
  position: relative;
  height: 3em;
  padding-right: 3.3em;
  /* padding-left: 3.3em; */
  cursor: pointer;  
  white-space: nowrap;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em rgba(87, 87, 87, 1);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: rgba(30, 61, 89, 1);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


/* .desktop-thq-card-elm {
  gap: 67px;
  width: 250px;
  height: 300px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(72, 116, 158, 1) 0%, rgba(30, 61, 89, 1) 100%);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  padding: 15px;
} */

.desktop-link {
  display: contents;
}

.desktop-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}

.desktop-icon1 {
  width: 24px;
  margin-right: 4px;
}

.desktop-text3 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
